html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: rgb(55, 55, 60);
}

header {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
/* ==================== */
/* B A N N E R */
/* ==================== */

.bannerScene1, .bannerScene2, .bannerScene3 {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.bannerScene1 .bannerScene1-Background {
    background-color: black;
    /* Image: Photo by BehindTheTmuna on Unsplash https://unsplash.com/photos/a-wooden-carving-of-a-face-with-green-eyes-Q3yrtL-qJhM?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash */
    background-image: url('./assets/images/maori-carving.jpg');
    background-size: 780px auto;
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: right;
    position: absolute;
    inset: 0;
}

.bannerFont {
    font-family: "Oswald", sans-serif;
    margin-left: 150px;
    position: absolute;
    color: white;

    overflow: hidden;
    white-space: nowrap;
    width: 1000px;
}

.bannerScene1-Line1 {
    font-style: oblique;
    font-size: 50px;
    top: 40px;
}

.bannerScene1-Line2 {
    font-family: "Boldonse", system-ui;
    font-size: 105px;
    font-weight: 900;
    top: 25px;
}

.bannerScene1-Line3 {
    font-size: 35px;
    font-style: oblique;
    top: 250px;
    left: 270px;
}

.bannerScene2 .bannerScene2-Background {
    /* Image: Photo by David M. Chambers on Unsplash https://unsplash.com/photos/brown-boat-on-blue-body-of-water-in-front-of-green-trees-gVNSgGGhqvA?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash */
    background-image: url('./assets/images/canoe.jpg');
    background-size: 2200px;
    background-repeat: no-repeat;
    background-position-y: -400px;
    background-position-x: center;
    position: absolute;
    inset: 0;
}

.bannerScene2-Line1 {
    color: rgb(127, 56, 4);
    font-size: 75px;
    font-weight: 500;
    top: -50px;
    left: 450px;
}

.bannerScene2-Line2 {
    color: rgb(127, 56, 4);
    font-size: 35px;
    font-style: oblique;
    top: 95px;
    left: 455px;
}

.bannerScene3 .bannerScene3-Background {
    /* Image: Photo by Connor Gan on Unsplash https://unsplash.com/photos/a-group-of-people-sitting-around-a-fire-pit-DLQD4RXVjAc?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash */
    background-image: url('./assets/images/marae.jpg');
    background-size: 2100px auto;
    background-repeat: no-repeat;
    background-position-y: -1100px;
    background-position-x: center;
    position: absolute;
    inset: 0;
}

.bannerScene3-Line1 {
    font-size: 75px;
    top: 0px;
    left: -75px;
}

.bannerScene3-Line2 {
    font-family: "Boldonse", system-ui;
    font-size: 100px;
    font-weight: 500;
    top: 70px;
    left: -75px;
}

.bannerScene3-Line3 {
    text-align: right;
    font-size: 18px;
    right: 10px;
}

.bannerScene3-Line4 {
    text-align: right;
    font-size: 18px;
    right: 10px;
    top: 30px;
}

/* ==================== */
/* M A I N */
/* ==================== */

main {
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
    width: 1100px;

    margin-left: 150px;
    margin-right: 150px;

    padding-top: 100px;
}

.sideFont {
    position: absolute;
    left: 40px;
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 700;
}

/* ==================== */
/* S I D E B A R */
/* ==================== */

.sideWrapper {
    display: flex;
    background-color: white;
    width: 400px;
    flex-shrink: 0;
    overflow: hidden;
    height: 600px;
    position: relative;
    margin: 25px;
}

/* ==================== */
/* S I D E B A R 
    S C E N E 1*/
/* ==================== */

.sideScene1 {
    background-color: rgb(152, 255, 255);
    display: flex;
    height: 680px;
    margin: 10px;
    position: relative;

    visibility: hidden;
}

.sideScene1-Background1 {
    /* Image: Photo by Jakub Żerdzicki on Unsplash https://unsplash.com/photos/a-camera-sitting-on-top-of-a-pile-of-white-objects-GpNaHFeN5bk?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash */
    background-image: url('./assets/images/light-bulbs.jpg');
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sideScene1-Background2 {
    background-image: url('./assets/images/figure-1.png');
    background-size: 400px auto;
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    top: 350px;
}

.sideScene1-Line1 {
    top: -50px;
    text-shadow: 0px 1px black;
}
.sideScene1-Line2 {
    text-shadow: 0px 1px black;
}
.sideScene1-Line3 {
    top: 50px;   
    text-shadow: 0px 1px black;
}
.sideScene1-Line4 {
    top: 100px;
    color: yellow;
    text-shadow: 0px 1px black;
}

/* ==================== */
/* S I D E B A R 
    S C E N E 2*/
/* ==================== */

.sideScene2 {
    background-color: rgb(152, 255, 255);
    display: flex;
    height: 680px;
    margin: 10px;

    visibility: hidden;
}
.sideScene2-Background1 {
    /* Image: Photo by Aleksandr Lyaptsev on Unsplash https://unsplash.com/photos/a-persons-hand-touching-a-button-on-a-wall-taNXaafOgAs?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash */
    background-image: url('./assets/images/switch.jpg');
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sideScene2-Background2 {
    background-image: url('./assets/images/figure-1.png');
    position: absolute;
    inset: 0;
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
    bottom: -315px;
}

.side-font-2{
    position: absolute;
    inset: 0;
    left: 40px;
    font-family: "Oswald", sans-serif;
    color: rgb(28, 106, 209);
    font-size: 60px;
    font-weight: 700;
}

.sideScene2-Line1 {
    top: -50px;
}

.sideScene2-Line2 {
    top: 10px;
}

/* ==================== */
/* S I D E B A R 
    S C E N E 3*/
/* ==================== */

.sideScene3 {
    background-color: aquamarine;
}

.sideScene3-Background1 {
    background-image: url('./assets/images/figure-group.png');
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: 400px;
    background-color: rgb(15, 196, 87);
    top: 250px;
}

.sideScene3-Background2 {
    /* Image: By New Zealand Government (Te Kāwanatanga o Aotearoa) - New Zealand Government */
    background-image: url('./assets/images/nz-govt-logo.png');
    position: absolute;
    inset: 0;
    background-size: 190px;
    background-repeat: no-repeat;
    top: 500px;
    left: 200px;
}

.sideScene3-Background3 {
    /* Image: Logo of New Zealand's Electricity Authority - https://www.ea.govt.nz */
    background-image: url('./assets/images/te-mana-hiko-logo.png');
    position: absolute;
    inset: 0;
    background-size: 170px;
    background-repeat: no-repeat;
    top: 515px;
    left: 20px;
}

.sideScene3-Line1 {
    color: cornflowerblue;
    top: -50px;
}

.sideScene3-Line2 {
    color: cornflowerblue;
}

.sideScene3-Line3 {
    font-size: 40px;
    color: black;
    background-color: yellow;
    padding-left: 5px;
    padding-right: 5px;
    border-color: yellow;
    border-radius: 10px;
    top: 100px;
}

.sideScene3-Line4 {
    color: black;
    font-size: 14px;
    top: 560px;
    left: 270px;

}


/* ==================== */
/* F O R M */
/* ==================== */

/* .formWrapper {
    background-color: rgb(18, 27, 126);
    border-radius: 2%;
    width: 100%;
    margin: 25px;
} */