html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: rgb(180, 180, 180);
}

header {
    width: 100%;
    height: 400px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
/* ======================================================================================== */

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 100}
}
@keyframes fade-out {
    from {opacity: 100;}
    to {opacity: 0;}
}

.bannerScene1 {
    animation:
    fade-in     0.5s ease 0s forwards,
    fade-out    0.5s ease 4s;
}

.bannerScene2 {
    opacity: 0;

    animation: fade-in 0.5s ease forwards, fade-out 0.5s ease forwards;
    animation-delay: 4s, 8.5s;
}

.bannerScene3 {    
    opacity: 0;

    animation: fade-in 0.5s ease forwards, fade-out 0.5s ease forwards;
    animation-delay: 8.5s, 13s;
}

.bannerScene1-Background {
    background-color: black;

    /* Image: Photo by BehindTheTmuna on Unsplash https://unsplash.com/photos/a-wooden-c
    arving-of-a-face-with-green-eyes-Q3yrtL-qJhM?utm_content=creditShareLink&utm_medium=r
    eferral&utm_source=unsplash */

    background-image: url('./assets/images/maori-carving.jpg');
    background-size: 780px auto;
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: right;
    position: absolute;
    inset: 0;

    transform: translateX(-50px);
    transition-duration: 4s;
    transition-delay: 0.5s;
}

.bannerFont {
    font-family: "Oswald", sans-serif;
    margin-left: 150px;
    color: white;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 1000px;
}

.bannerScene1-Line1 {
    font-style: oblique;
    font-size: 50px;
    top: 35px;
    left: 10px;
}

.bannerScene1-Line2 {
    font-family: "Boldonse", system-ui;
    font-size: 105px;
    font-weight: 900;
    top: 25px;
    left: 10px;
}

.bannerScene1-Line3 {
    font-size: 35px;
    font-style: oblique;
    top: 250px;
    left: 270px;
}

/* ======================================================================================== */

.bannerScene2 .bannerScene2-Background {

    /* Image: Photo by David M. Chambers on Unsplash https://unsplash.com/photos/brown-boa
    t-on-blue-body-of-water-in-front-of-green-trees-gVNSgGGhqvA?utm_content=creditShareLink
    &utm_medium=referral&utm_source=unsplash */

    background-image: url('./assets/images/canoe.jpg');
    position: absolute;
    inset: 0;
    background-size: 2200px;
    background-repeat: no-repeat;
    background-position-y: -400px;
    background-position-x: center;
}

.bannerScene2-Line1 {
    color: rgb(127, 56, 4);
    font-size: 75px;
    font-weight: 500;
    left: 300px;
    top: -50px;
}


.bannerScene2-Line2 {
    color: rgb(127, 56, 4);
    font-size: 35px;
    font-style: oblique;
    top: 95px;
    left: 500px;
}

/* ======================================================================================== */

.bannerScene3 .bannerScene3-Background {

    /* Image: Photo by Connor Gan on Unsplash https://unsplash.com/photos/a-group-of-people-
    sitting-around-a-fire-pit-DLQD4RXVjAc?utm_content=creditShareLink&utm_medium=referral&ut
    m_source=unsplash */

    background-image: url('./assets/images/marae.jpg');
    background-size: 2100px auto;
    background-repeat: no-repeat;
    background-position-y: -1100px;
    background-position-x: center;
    position: absolute;
    inset: 0;
}

.bannerScene3-Line1 {
    font-size: 75px;
    top: 0px;
    left: -75px;
}

.bannerScene3-Line2 {
    font-family: "Boldonse", system-ui;
    font-size: 100px;
    font-weight: 500;
    top: 70px;
    left: -75px;
}

.bannerScene3-Line3 {
    text-align: right;
    font-size: 18px;
    right: 10px;

    visibility: hidden;
}

.bannerScene3-Line4 {
    text-align: right;
    font-size: 18px;
    right: 10px;
    top: 30px;

    visibility: hidden;
}

/* ======================================================================================== */

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
    overflow: hidden;
    width: fit-content;
    height: 625px;

    margin-left: 150px;
    margin-right: 150px;
}

.sideFont {
    position: absolute;
    left: 40px;
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 700;
}

/* ======================================================================================== */

.sideWrapper {
    position: relative;
    display: flex;
    background-color: rgba(66,108,169,255);
    flex-shrink: 0;
    overflow: hidden;
    width: 400px;
    height: 600px;
    margin: 25px;
}

/* ======================================================================================== */

.sideScene1, .sideScene2, .sideScene3 {
    position: absolute;
    inset: 0;
    display: flex;

    animation: fade-out;
    animation-fill-mode: forwards;
}

.sideScene1 {
    z-index: 3;
    animation-delay: 2.5s;
}
.sideScene2 {
    z-index: 2;
    animation-delay: 5s;
}
.sideScene3 {
    z-index: 1;
    animation-delay: 11s;
}


.sideScene1-Background1, .sideScene1-Background2,
.sideScene2-Background1, .sideScene2-Background2
.sideScene3-Background1, .sideScene3-Background2, .sideScene3-Background3 {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
}

.sideScene1-Background1 {
    /* Image: Photo by Jakub Żerdzicki on Unsplash https://unsplash.com/photos/a-camera-s
    itting-on-top-of-a-pile-of-white-objects-GpNaHFeN5bk?utm_content=creditShareLink&utm_m
    edium=referral&utm_source=unsplash */
    background-image: url('./assets/images/light-bulbs.jpg');
    background-size: cover;
    background-position: center;
}

.sideScene1-Background2 {
    background-image: url('./assets/images/figure-1.png');
    background-size: 400px auto;
    top: 350px;
}

.sideScene1-Line1, .sideScene1-Line2, .sideScene1-Line3, .sideScene1-Line4 {
    text-shadow: 0px 2px black;
}

.sideScene1-Line1 {
    top: -50px;
}

.sideScene1-Line3 {
    top: 50px;   
}
.sideScene1-Line4 {
    top: 100px;
    color: yellow;
}

/* ======================================================================================== */

.sideScene2-Background1 {
    /* Image: Photo by Aleksandr Lyaptsev on Unsplash https://unsplash.com/photos/a-person
    s-hand-touching-a-button-on-a-wall-taNXaafOgAs?utm_content=creditShareLink&utm_medium=r
    eferral&utm_source=unsplash */
    background-image: url('./assets/images/switch.jpg');
    background-size: cover;
    background-position: center;
}

.sideScene2-Background2 {
    background-image: url('./assets/images/figure-1.png');
    background-position: center;
    background-size: 400px;
    bottom: -315px;
}

.side-font-2{
    position: absolute;
    inset: 0;
    left: 40px;
    font-family: "Oswald", sans-serif;
    color: rgb(28, 106, 209);
    font-size: 60px;
    font-weight: 700;
}

.sideScene2-Line1 {
    top: -50px;
}

.sideScene2-Line2 {
    top: 10px;
}

/* ======================================================================================== */

.sideScene3-Background1 {
    background-image: url('./assets/images/figure-group.png');
    background-size: 400px;
    top: 320px;
}

.sideScene3-Background2 {
    /* Image: By New Zealand Government (Te Kāwanatanga o Aotearoa) - New Zealand
    Government */
    background-image: url('./assets/images/nz-govt-logo.png');
    background-size: 190px;
    top: 500px;
    left: 200px;
}

.sideScene3-Background3 {
    /* Image: Logo of New Zealand's Electricity Authority - https://www.ea.govt.nz */
    background-image: url('./assets/images/te-mana-hiko-logo.png');
    background-size: 170px;
    top: 515px;
    left: 20px;
}

.sideScene3-Line1 {
    top: -50px;
}

.sideScene3-Line2 {
    top: 0px;
}

.sideScene3-Line3 {
    background-color: yellow;
    font-size: 40px;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    top: 100px;
}

#studentName {
    position: relative;
    color:white;
    font-size: 14px;
    top: 560px;
    left: 250px;
}

#button-replay {
    z-index: 4;
    visibility: hidden;
    position: absolute;
    font-size: 100px;
    top: 275px;
    left: 130px;

    animation: pop-up;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

@keyframes pop-up {
    from {visibility: hidden;}
    to{visibility: visible;}
}

@keyframes pop-down {
    0%{opacity: 0;}
    99%{opacity: 0;}
    100%{opacity: 1;}
}



/* ======================================================================================== */

.formWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1%;
    min-width: 800px;
    margin: 25px;
    margin-bottom: 0%;
    align-content: center;
}

/*  Week 5: HTML5, DOM, JavaScript
    Exercise: Multi-Page Forms
    url: https://moodle.unitec.ac.nz/mod/folder/view.php?id=1088851 */

.container-half {
    padding: 8px;
    width: 48%;
    margin-top: 30px;
    box-sizing: inherit;
    align-self: center;
    text-align: center;
    min-height: 300px;
    min-width: 600px;
}

.card {
    border: 1px solid #adadad8a;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.062);
    position: relative;
}

.card-title {
    position: absolute;
    top: -12px;
    left: 20px;
    background-color: #fff;
}

progress {
    margin-top: 20px;
    width: 78%;
    background-color:aliceblue;
    height: 20px;
    border-radius: 0.5em;
}

.card-title {
    position: absolute;
    top: -12px;
    left: 20px;
    background-color: #fff;
}

.form-page {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    width: 80%;
}

.form-page .row {
    width: 100%;
    float: left;
    padding: 8px 8px 2px 0px;
    text-align: left;
    vertical-align: middle;
}

.form-page label input[type="text"] {
    width: 70%;
    float: right;
    line-height: 150%;
}

.form-page label input[type="radio"] {
    vertical-align: middle;
    margin-top: -1px;
}

.form-page button {
    padding: 4px 8px;
    margin: 8px;
    width: 25%;
}

.form-page button.next {
    float: right;
}

.form-page button.previous {
    float: left;
}
